fastapi
uvicorn
motor
pymongo
python-jose
passlib[bcrypt]
bcrypt
email-validator
python-multipart
langchain
langchain-community
langchain-core
langchain-ollama
langgraph
faiss-cpu
sentence-transformers
pypdf
numpy
pandas
langchain-huggingface
transformers
torch
fastapi==0.116.1
uvicorn==0.35.0

motor==3.7.1
pymongo==4.14.1

python-jose==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.3.0

python-dotenv==1.1.1
email-validator==2.3.0
python-multipart==0.0.20

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.75
langchain-ollama==0.3.7
langgraph==0.6.7

faiss-cpu==1.12.0
sentence-transformers==5.1.0
transformers==4.55.4

pypdf==6.0.0
numpy==2.2.6
pandas==2.3.2
bcrypt
passlib